

<form method="post" enctype="multipart/form-data" asp-action="Updownload" asp-controller="Home">
    <input type="file" name="photo" required/>
    <input type="submit" value="Upload" />
</form>

<img width="300px" height="300px" src="https://firebasestorage.googleapis.com/v0/b/myapp-ca9c3.appspot.com/o/images%2Fuuid%3D31F889A1-FB35-4831-8577-8DD50FAAA5D0%26library%3D1%26type%3D1%26mode%3D1%26loc%3Dtrue%26cap%3Dtrue.jpeg?alt=media&token=359367bd-70c4-45b1-8eea-f390c543da77" alt="Photo">




