@{
    ViewData["Title"] = "Collection";
}
@model List<Collection>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="container-fluid">
        <img src="~/images/title.png" alt="" id="title">
        <form action="">
            <input type="text" id="searchInput" placeholder="Search" />
            <input type="button" id="searchBtn" value="" onclick="searchSomething();" />
        </form>
        <ul id="navbar">
            <a asp-controller="Home" asp-action="Collections">
            <li id="nav__item">КОЛЛЕКЦИИ</li></a>
            <a asp-controller="Home" asp-action="">
            <li id="nav__item">ЛИЧНЫЙ КАБИНЕТ</li></a>
        </ul>
    </div>

    <div class="container">
        <div class="row">
            @if (Model != null && Model.Count > 0)
            {
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="col">
                            <a href="item.html">
                                <h2>@item.Name</h2>
                                <img src="@item.UrlImage" alt="" class="img-fluid">
                                <p>@item.Info</p>
                                <div class="assets">
                                    <button class="comment__item">оставить комментарий</button>
                                    <a><img src="~/Images/like.png" alt="like" width="40px" height="40px"></a>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>Данная коллекция пока что ничего не содержит</p>
            }
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>var searchInput = document.getElementById('searchInput');
        var searchBtn = document.getElementById('searchBtn');

        searchInput.addEventListener('keypress', function (e) {
            var key = e.which || e.keyCode;
            if (key === 13) {
                searchSomething();
            }
        });

        function searchSomething() {
            // Ваш код для выполнения действий поиска
        }</script>
</body>
</html>

