@{
    ViewData["Title"] = "Collections";
}
@model IEnumerable<string>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="container-fluid">
        <img src="~/images/title.png" alt="" id="title">
        <form action="">
            <input type="text" id="searchInput" placeholder="Search" />
            <input type="button" id="searchBtn" value="" onclick="searchSomething();" />
        </form>
        <ul id="navbar">
            <a asp-controller="Home" asp-action="Collections">
            <li id="nav__item">КОЛЛЕКЦИИ</li></a>
            <a asp-controller="Home" asp-action="Auth">
            <li id="nav__item">ВОЙТИ В ЛИЧНЫЙ КАБИНЕТ</li></a>
        </ul>
    </div>

    <div class="container">
        <div class="col">
            <a asp-controller="Home" asp-action="Collection" asp-route-alt="Books">
                <h1>Книги</h1>
                <img src="~/images/Books.jpeg" width="90%" height="390px">
            </a>
        </div>

        <div class="col">
            <a asp-controller="Home" asp-action="Collection" asp-route-alt="Stamps">
                <h1>Марки</h1>
                <img src="~/images/Stamps.jpeg" width="90%" height="390px">
            </a>
        </div>

        <div class="col">
            <a asp-controller="Home" asp-action="Collection" asp-route-alt="Whiskey">
                <h1>Виски</h1>
                <img src="~/images/Whiskey.jpeg" width="90%" height="390px">
            </a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>var searchInput = document.getElementById('searchInput');
        var searchBtn = document.getElementById('searchBtn');

        searchInput.addEventListener('keypress', function (e) {
            var key = e.which || e.keyCode;
            if (key === 13) {
                searchSomething();
            }
        });

        function searchSomething() {
            // Ваш код для выполнения действий поиска
        }</script>
</body>
</html>

